.hero {
  height: 45vw;
  padding: 65px 11.4vw 0px 11.4vw; ///165px
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/desktop/image-hero.jpg) left/cover;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8.3vw; //120px;
    img {
      padding-bottom: 3px;
      padding-right: 60px;
    }
    .linksBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 380px;
      a {
        position: relative;
        display: inline-block;
        height: 33px;
        padding-top: 4px;
        font-family: $alata;
        font-weight: 500;
        color: rgb(231, 229, 229);
        &::after {
          content: "";
          position: absolute;
          left: 55%;
          right: 55%;
          bottom: 0;
          border: 1px solid white;
          opacity: 0;
          transition: $trans;
        }
        &:hover {
          &::after {
            left: 25%;
            right: 25%;
            opacity: 100%;
          }
        }
      }
    }
  }
  .hamburger {
    display: none;
  }
  .hamburgerModal {
    display: none;
  }
  .framedTitle {
    width: 45vw; // 650px;
    height: 19.5vw; //278px;
    padding: 2.5vw; //38px 40px 35px 39px
    border: 2px solid white;
    h1 {
      color: white;
      font-family: $josefin;
      font-size: 5vw; //70px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }
  }
}

.vrMan {
  padding: 160px 11.4vw 180px; ///165px
  position: relative;
  &__img {
    height: 35vw; //500px
    background: url(/images/desktop/image-interactive.jpg) no-repeat
      left/contain;
  }
  &__text {
    position: absolute;
    bottom: 12vw;
    left: 51vw;
    width: 37vw; //540px;
    height: 22vw; //320px;
    padding-left: 6.5vw; //95px;
    padding-top: 6.5vw; //95px;
    background-color: white;
    h2 {
      margin-bottom: 25px;
      font-family: $josefin;
      font-size: 48px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1;
    }
    p {
      font-family: $alata;
      line-height: 1.65;
      color: hsl(0, 0%, 55%);
    }
  }
}
