.hero {
  height: 650px;
  padding: 65px 130px 0px 165px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/desktop/image-hero.jpg);
  // display: none;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    img {
      padding-bottom: 3px;
    }
    .linksBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 380px;
      a {
        position: relative;
        display: inline-block;
        height: 33px;
        font-family: $alata;
        font-weight: 500;
        color: white;
        &::after {
          content: "";
          position: absolute;
          left: 55%;
          right: 55%;
          bottom: 0;
          border: 1px solid white;
          opacity: 0;
          transition: $trans;
        }
        &:hover {
          &::after {
            left: 25%;
            right: 25%;
            opacity: 100%;
          }
        }
      }
    }
  }
  .hamburger {
    display: none;
  }
  .hamburgerModal {
    display: none;
  }
  .framedTitle {
    width: 650px;
    height: 278px;
    padding: 38px 40px 35px 39px;
    border: 2px solid white;
    h1 {
      color: white;
      font-family: $josefin;
      font-size: 70px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }
}

.vrMan {
  padding: 160px 165px 180px;
  position: relative;
  // display: none;
  &__img {
    // width: 730px;
    height: 500px;
    background: url(/images/desktop/image-interactive.jpg) no-repeat;
  }
  &__text {
    position: absolute;
    top: 343px;
    left: 735px;
    width: 540px;
    height: 320px;
    padding-left: 95px;
    padding-top: 95px;
    background-color: white;
    h2 {
      margin-bottom: 25px;
      font-family: $josefin;
      font-size: 48px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1;
    }
    p {
      font-family: $alata;
      line-height: 1.65;
      color: hsl(0, 0%, 55%);
    }
  }
}
